@model List<NoteModel>

    <div class="notes-toolbar">
        <h2 class="notes-heading">Notes List</h2>
        <a class="btn btn-success" asp-action="Create">Create Note +</a>
    </div>
    <div class="notes-sidebar">
        <h3>Filters</h3>
        <form>
            <input placeholder="Search" type="text" class="form-control"/>
            <select class="form-control">
                <option>Category</option>
                <option>Category</option>
                <option>Category</option>
            </select>
            <button class="btn btn-default" type="submit">Filter</button>
        </form>
    </div>


    <ul class="notes-list">
        @foreach (NoteModel note in Model)
        {
            <li class="note">
                <a asp-action="Edit" asp-route-id="@note.Id">
                    <div class="category">@Enum.GetName(typeof(NoteCategory), note.categoryId)</div>
                    <h2>@note.Heading</h2>
                    <p>@note.Content</p>
                </a>
            </li>
        }



        <!-- Keeping this for future reference -->
        <!--
            <li class="note">
                <a href="#">
                    <div class="category">Category</div>
                    <h2>Heading #8</h2>
                    <p>Text Content #8</p>
                </a>
            </li>
        -->
    </ul>