

    <div class="notes-toolbar">
        <h2 class="notes-heading">Notes List</h2>
        <a class="btn btn-success">Create Note +</a>
    </div>
    <div class="notes-sidebar">
        <h3>Filters</h3>
        <form>
            <input placeholder="Search" type="text" class="form-control"/>
            <select class="form-control">
                <option>Category</option>
                <option>Category</option>
                <option>Category</option>
            </select>
            <button class="btn btn-default" type="submit">Filter</button>
        </form>
    </div>


<ul class="notes-list">
    <li class="note">
        <a href="#">
            <div class="category">Category</div>
            <h2>Heading #1</h2>
            <p>Text Content #1</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <h2>Heading #2</h2>
            <p>Text Content #2</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <h2>Heading #3</h2>
            <p>Text Content #3</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <div class="category">Category</div>
            <h2>Heading #4</h2>
            <p>Text Content #4</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <h2>Heading #5</h2>
            <p>Text Content #5</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <div class="category">Category</div>
            <h2>Heading #6</h2>
            <p>Text Content #6</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <h2>Heading #2</h2>
            <p>Text Content #2</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <h2>Heading #7</h2>
            <p>Text Content #7</p>
        </a>
    </li>
    <li class="note">
        <a href="#">
            <div class="category">Category</div>
            <h2>Heading #8</h2>
            <p>Text Content #8</p>
        </a>
    </li>
</ul>